/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/*Universal Rules*/
* {
  margin: 0;
  padding: 0;
  border: 0px solid red;
}
html {
  text-align: center;
  background-color: #141414;
  font-family: "Montserrat";
  height: 100vh;
}

/*General Rules*/
#title {
  color: #f4ead9;
  font-family: "Pattaya";
  font-size: 3rem;
  background-color: #544227;
  margin-top: 2rem;
}
.section-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-decoration: underline;
  color: #f4ead9;
}
.text,
label {
  font-size: 1.1rem;
  color: #f2e8d7;
}
.break {
  border-bottom: 0.25rem solid #d8c3a5;
  margin: 3rem auto;
  max-width: 28rem;
}

/*Modes*/
#modes {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
}
#light {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  grid-column: 1;
  min-width: 12rem;
  max-width: 15rem;
  background-color: #d1b387;
  border: 0.2rem solid #bc986a;
  color: #856f53;
}
#light:hover {
  cursor: pointer;
  background-color: #6e5b3d;
  border: 0.2rem solid #7a6545;
  color: white;
}
#dark {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding: 0.4rem 1rem;
  grid-column: 3;
  min-width: 12rem;
  max-width: 15rem;
  background-color: #6e5b3d;
  border: 0.2rem solid #7a6545;
  color: white;
}
#dark:hover {
  cursor: pointer;
  background-color: #d1b387;
  border: 0.2rem solid #bc986a;
  color: #856f53;
}

/*About Us*/
#about-us {
  margin: 0 auto;
  max-width: 25rem;
}

/*Locations*/
#locations {
  margin: 0 auto;
  max-width: 28rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.location {
  border: 0px solid red;
  padding: 0.5rem 0;
  margin-left: 0.5rem;
}
.location p {
  margin-left: 0.5rem;
}

/*Order*/
#order {
  margin: 2rem auto;
  padding: 2rem;
  border: 0.3rem solid #6e5536;
  border-radius: 0.5rem;
  background-color: #674525;
  max-width: 37rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#order #left {
  padding-right: 1rem;
  display: grid;
  grid-template-rows: 2fr 2fr 5fr;
  grid-row-gap: 1rem;
}
#order #right {
  border-left: 0.3rem solid #bc986a;
  padding-left: 1rem;
  display: grid;
  grid-template-rows: 2fr 2fr 6fr;
  grid-row-gap: 1rem;
}
#order .main-label {
  font-weight: bold;
  font-size: 1.25rem;
}
#order label {
  margin-right: 0.5rem;
}
#order input {
  font-family: "Montserrat";
  font-size: 1.1rem;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-top: 0.6rem;
  background-color: #775d3a;
  color: white;
}
#order #ingredients {
  display: grid;
  grid-template-columns: 9fr 10fr;
  text-align: left;
}
#order img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
}
#order button {
  display: block;
  margin: 0.8rem auto 0 auto;
  width: 16rem;
  font-family: "Montserrat";
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-left: 1.2rem;
  background-color: #775d3a;
  border: 0.2rem solid #bc986a;
  color: white;
}
#order button:hover {
  cursor: pointer;
  background-color: #daad86;
  border: 0.2rem solid #bc986a;
  color: #856f53;
}

/*Footer*/
#footer {
  background-color: #544227;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.6rem 3rem;
}
.footer-left {
  text-align: left;
  grid-column: 1;
}
.footer-right {
  text-align: right;
  grid-column: 3;
}
